<app-navbar></app-navbar>
<div class="container-home">
    <div class="home-top-images">
        <img class=landingImage3 [src]="landingImage3" alt="">
        <div class="circle-images">
            <img class=landingImage [src]="landingImage" alt="" style="margin-left: 12px;">
            <img class=landingImage1 [src]="landingImage1" alt="" style="margin-left: 180px;">
            <img class=landingImage2 [src]="landingImage2" alt="" style="margin-left: 12px;">
        </div>
    </div>
    <div class="text">
        <p style="margin-left: 5px; font-size: 20px; font-weight: bold;">Join Us</p>
        <p style="margin-left: 105px; font-size: 20px; font-weight: bold;">On</p>
        <p style="margin-left: 5px; font-size: 50px; font-weight: bold; font-style: italic;">Exploring</p>
        <p style="margin-left: 55px; font-size: 50px; font-weight: bold; font-style: italic;">Nature</p>
        <p style="margin-left: 105px; font-size: 50px; font-weight: bold; font-style: italic;">Tours</p>
        <p style="font-weight: bold;">{{catchPhrase}}</p>
        <div class="buttons">
            <button>Get Started</button>
            <button>Explore Tours</button>
        </div>
    </div>
</div>
<div class="big-five">
    <h1>The Big Five</h1>
    <p></p>
    <div class="images">
        <img src="https://i.pinimg.com/474x/8c/1b/d8/8c1bd8f1c0a5fc9b60957d1c0f157674.jpg" alt="elephant">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6C4TSLQYaKfash9fH0pssVvlYROWLVR6oYQ&s" alt="lion">
        <img src="https://i.pinimg.com/474x/a8/bd/55/a8bd55743b25d2b7bb188c80ee3e236c.jpg" alt="leopard">
        <img src="https://i.pinimg.com/474x/c2/3f/4b/c23f4b1979c4271284e672711d8e2b9d.jpg" alt="rhino">
        <img src="https://i.pinimg.com/474x/6c/a3/7d/6ca37dce60b545a446f960a36930447e.jpg" alt="buffalo">
    </div>
</div>
<div class="container-tours">
    <h1>Featured Tours</h1>
    <div class="tours-list">
        <div class="tour-card" *ngFor="let tour of tours">
            <img [src]="tour.imageUrl" alt="{{ tour.type }}">
            <p>{{ tour.type }}</p>
            <p>{{ tour.destination }}</p>
        </div>
    </div>
</div>
<div class="container-howitworks">
    <h1>How It Works</h1>
    <p style="font-style: italic;">Steps to book a tour</p>
    <div class="tours-card-container">
        <div class="discover-card">
            <h1>Discover</h1>
            <p>
                Embark on your journey with us by exploring a world of captivating destinations.
                Our platform makes it easy to find the perfect getaway tailored to your interests and desires.
                Browse through our curated selection of tours and experiences, each designed to offer unique adventures
                and
                unforgettable moments.
                Whether you're seeking the thrill of a mountain hike, the serenity of a beachside retreat, or the rich
                culture of a historic city, your dream trip starts here.
                Let the discovery process ignite your wanderlust and inspire your next adventure.
            </p>
        </div>
        <div class="book-card">
            <h1>Book</h1>
            <p>
                Once you've found the ideal destination, booking your tour is a breeze.
                Our user-friendly system allows you to seamlessly choose your travel dates, customize your itinerary,
                and secure your reservations with just a few clicks.
                We provide detailed information about each tour, including itineraries, accommodation options, and
                customer reviews, ensuring you have all the insights you need to make an informed decision.
                Enjoy peace of mind with our secure payment options and responsive customer support team, ready to
                assist you at every step.
            </p>
        </div>
        <div class="enjoy-card">
            <h1>Enjoy</h1>
            <p>
                With everything arranged, it's time to immerse yourself in the experience.
                Our dedicated team ensures that every detail is taken care of, so you can focus on creating memories
                that will last a lifetime.
                From the moment you arrive at your destination, you'll be greeted with exceptional service and local
                expertise.
                Embrace the adventure, savor the flavors, and connect with the culture and people of your chosen locale.
                We are committed to making your journey as enjoyable and enriching as possible.
                Travel with confidence and let the world unfold before you.
            </p>
        </div>
    </div>
</div>
<div class="container-testimonials">

</div>
<div class="container-footer">
    <div class="get-in-touch">
        <h2>Get In Touch</h2>
        <p> +(254)111997539</p>
        <p> Chuka, Ndagani</p>
    </div>
    <div class="footer">
        <p style="text-align: center;">Made With Love By Carolyne All Rights Reserved</p>
    </div>
</div>