* {
    margin: 0;
    padding: 0;
}

.container-home {
    background: linear-gradient(green, blue);
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 12px;
}

.home-top-images {
    display: flex;
}

.circle-images {
    display: flex;
    flex-direction: column;
}

.circle-images img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text p {
    color: white;
}

.buttons {
    display: flex;
    gap: 50px;
}

button {
    background-color: green;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
}
.big-five{
    border: 1px solid darkcyan;
    border-radius: 5px;
    margin-top: 12px;
    height: fit-content;
    padding: 20px;
}
.big-five h1{
    text-align: center;
    margin-bottom: 12px;
}
.images{
    display: flex;
}
.images img{
    width: 300px;
    height: 250px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.images img:hover{
    top: -10px;
}
.container-tours,
.container-howitworks,
.container-testimonials
{
    height: 100vh;
    border: 1px solid darkcyan;
    border-radius: 5px;
    margin-top: 12px;
}
.container-tours h1{
    text-align: center;
}
.tours-list{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}
.tour-card{
    height: fit-content;
    padding: 8px;
    border: 1px solid green;
    border-radius: 5px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.tour-card:hover{
    top: -10px;
}
.tour-card p{
    text-align: center;
}
.tour-card img{
    width: 250px;
    height: 150px;
    padding:10px 10px;
    border-radius: 5px;
}
.container-footer {
    height: fit-content;
    border: 1px solid darkcyan;
    border-radius: 5px;
    margin-top: 12px;
    background: linear-gradient(green, blue);
    color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.container-howitworks h1,
.container-howitworks p {
    text-align: center;
    padding: 8px;
}

.tours-card-container {
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.discover-card,
.book-card,
.enjoy-card {
    width: 300px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(251, 224, 224, 0.5);
    padding: 12px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.discover-card:hover, .book-card:hover, .enjoy-card:hover{
    top: -10px;
}
.discover-card::before,.book-card::before, .enjoy-card::before, .discover-card::after, .book-card::after, .enjoy-card::after {
    content: '';
    position: absolute;
    background-color: green;
  }

  .discover-card::before, .book-card::before, .enjoy-card::before {
    top: 0;
    left: 0;
    width: 2.5px;
    height: 100%;
  }

  .discover-card::after,.book-card::after, .enjoy-card::after {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2.5px;
  }
 
