<app-navbar></app-navbar>
<div class="container">
    <div class="images">
        <img class=landingImage3 [src]="landingImage3" alt="">
        <div class="circle-images">
            <img class=landingImage [src]="landingImage" alt="" style="margin-left: 12px;">
            <img class=landingImage1 [src]="landingImage1" alt="" style="margin-left: 180px;">
            <img class=landingImage2 [src]="landingImage2" alt="" style="margin-left: 12px;">
        </div>
    </div>
    <div class="text">
        <p style="margin-left: 5px; font-size: 20px; font-weight: bold;">Join Us</p>
        <p style="margin-left: 105px; font-size: 20px; font-weight: bold;">On</p>
        <p style="margin-left: 5px; font-size: 50px; font-weight: bold; font-style: italic;">Exploring</p>
        <p style="margin-left: 55px; font-size: 50px; font-weight: bold; font-style: italic;">Nature</p>
        <p style="margin-left: 105px; font-size: 50px; font-weight: bold; font-style: italic;">Tours</p>
        <p style="font-weight: bold;">{{catchPhrase}}</p>
        <div class="buttons">
            <button>Get Started</button>
            <button>Explore Tours</button>
        </div>
    </div>
</div>