<main>
    <button>Create New Tour</button>
<form>
    <label for="tour-type">Tour Type</label>
    <br>
    <input type="text">
    <br><br>
    <label for="destination">Destination</label>
    <br>
    <input type="text">
    <br><br>
    <label for="duration">Duration</label>
    <br>
    <input type="text">
    <br><br>
    <label for="price">Price</label>
    <br>
    <input type="text">
    <br><br>
    <label for="image-url">Image Url</label>
    <br>
    <input type="text">
    <br><br>
    <button type="submit">Create Tour</button>
</form>
<div class="tours-list">
    <div class="tour-card">
        <p>Tour type</p>
        <p>Destination</p>
        <p>Duration</p>
        <p>Price</p>
       <div class="tour-card-buttons">
        <button>Update</button>
        <button>Delete</button>
       </div>
    </div>
</div>

</main>