<main>
  <form [formGroup]="tourForm" (ngSubmit)="editMode ? updateTour() : createTour()">
    <label for="tour-type">Tour Type</label>
    <br>
    <input type="text" formControlName="type">
    <br><br>
    <label for="destination">Destination</label>
    <br>
    <input type="text" formControlName="destination">
    <br><br>
    <label for="duration">Duration</label>
    <br>
    <input type="text" formControlName="duration">
    <br><br>
    <label for="price">Price</label>
    <br>
    <input type="text" formControlName="price">
    <br><br>
    <button type="submit">{{ editMode ? 'Update Tour' : 'Create Tour' }}</button>
  </form>

  <div class="tours-list">
    <div *ngFor="let tour of tours" class="tour-card">
      <p>{{ tour.type }}</p>
      <p>{{ tour.destination }}</p>
      <p>{{ tour.duration }}</p>
      <p>{{ tour.price }}</p>
      <div class="tour-card-buttons">
        <button (click)="setEditMode(tour)">Update</button>
        <button (click)="deleteTour(tour.id)">Delete</button>
      </div>
    </div>
  </div>
</main>
