<main>
    <h1>Statistics</h1>
    <hr>
    <div class="top-cards">
        <div class="all-live-tours">
            <p>12</p>
            <p>Live tours</p>
        </div>
        <div class="all-bookings">
            <p>12</p>
            <p>All bookings</p>
        </div>
        <div class="revenue-collected">
            <p>Ksh.20000</p>
            <p>Revenue Collected</p>
        </div>
    </div>
    <br><br>
    <h1>Live Tours</h1>
    <hr>
    <div class="tours-list">
        <div class="tour-card" *ngFor="let tour of tours">
            <div class="tour-details">
                <p>{{ tour.type }}</p>
                <p>{{ tour.destination }}</p>
                <p>{{ tour.duration }}</p>
                <p>{{ tour.price }}</p>
            </div>
        </div>
    </div>
</main>
