<main>
    <h1>Your profile</h1>
    <div class="profile">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <p>First Name</p>
        <input type="text" formControlName="firstname">
        <br>
        <p>Last Name</p>
        <input type="text" formControlName="lastname">
        <br>
        <p>Email</p>
        <input type="email" formControlName="email" readonly>
        <br>
        <p>Password</p>
        <input type="password" formControlName="password">
        <br><br>
        <button type="submit">Update Details</button>
      </form>
    </div>
  </main>
  